DaccApi/DaccApi/.vs/DaccApi/FileContentIndex
DaccApi/DaccApi/obj/Debug
DaccApi/DaccApi/.vs/DaccApi/v17
DaccApi/DaccApi/bin/Debug/net7.0
DaccApi/DaccApi/.vs/DaccApi/DesignTimeBuild
DaccApi/DaccApi/.vs/ProjectEvaluation
DaccApi/DaccApi/obj
DaccApi/DaccApi/.idea
DaccApi/DaccApi/wwwroot
DaccApi/DaccApi/.kiro
DaccApi/DaccApi/.config
